html {
	font-size: 16px;
	height: 100%;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	padding: 20px;
	font-weight: 600;
	color: #000;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

h1 {
	font-size: 2.5rem;

	font-style: italic;
	text-transform: uppercase;
}

.one {
	font-weight: 20;
}

h2 {
	font-size: 2.5rem;

	text-transform: uppercase;
}

h3 {
	font-size: 2.5rem;

	text-transform: uppercase;
}

footer {
	margin-top: auto;
}

footer a {
	font-size: 1.5rem;
	color: #000;

	text-decoration: none;
	font-style: normal;
}

h4 {
	font-size: 1.5rem;
}
